.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.contenedor {
  max-width: 450px;
  max-height: 450px;
}

.contenedor p {
  text-align: center;
}

.boton {
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 1rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
}