<h3 class="text-center">Reportes</h3>
<div class="text-center">
  <a routerLink="/game" class="boton">Volver</a>
</div>
<div class="grid mt-5 mx-5">
  <div class="contenedor">
    <p>Cantidad de partidas jugadas semanales</p>
    <canvas id="barras">
    </canvas>
  </div>
  
  <div class="contenedor">
    <p>Proporcion de victorias</p>
    <canvas id="pieVictorias">
    </canvas>
  </div>

  <div class="contenedor">
    <p>Promedio de jugadas con puntaje 21</p>
    <canvas id="pieVictorias21">
    </canvas>
  </div>
</div>